# Virtual Environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Build
dist/
build/

# OS files
Thumbs.db
.DS_Store